@using System.Text
@using Nethereum.Signer
@using Google.Protobuf.WellKnownTypes
@using cila.Omnichain;

@inject GrpcChannel Channel



@page "/mint"

<h1>Mint</h1>

<p>
    Item hash: 
    <input type="text" @bind="@hash" @oninput="OnHashInputEvent" style="width: 400px;"/>
</p>

<p>
    Private key:
    <textarea @bind="@pk" @oninput="OnPkInputEvent" style="width: 400px;"></textarea>
</p>

<p>
    <h3>Data</h3>
</p>
<p>
    Hash: @hash
</p>

<p>
    Signature: @signature
</p>

<p>
    Sender: @me
</p>

<p>
    Response: @response
</p>

<button class="btn btn-primary" @onclick="MintNow">Sign and mint</button>

@code {
    private string hash = "Some NFT";
    private string pk = string.Empty;
    private string signature = string.Empty;
    private string me = "5Fd258E46CF5c5b2Ad252C37b48aeF887E65fd6A";
    private string response = string.Empty;

    private void OnHashInputEvent(ChangeEventArgs args)
    {
        hash = args.Value.ToString();
    }

    private void OnPkInputEvent(ChangeEventArgs args)
    {
        pk = args.Value.ToString();
    }

    private async Task MintNow()
    {
        try
        {
            var signer = new MessageSigner();
            signature = signer.HashAndSign(hash, pk);

            response = "Minting";

            //me = signer.HashAndEcRecover(hash, signature);

            var client = new Omnichain.OmnichainClient(Channel);
            var request = new cila.Omnichain.MintRequest();
            request.Hash = hash;
            request.Sender = me;
            request.Signature = signature;

            OmnichainResponse omnichainResponse = await client.MintAsync(request);
            response = omnichainResponse.ToString();
        }
        catch (Exception ex)
        {
            response = ex.Message;
        }
    }
}

