@using System.Text
@using Nethereum.Signer
@using Google.Protobuf.WellKnownTypes
@using cila.Omnichain;

@inject GrpcChannel Channel



@page "/transfer"

<h1>Transfer</h1>

<p>
    NFT data: 
    <input type="text" @bind="@nftData" @oninput="OnHashInputEvent" style="width: 400px;" />
</p>

<p>
    Transfer to:
    <input type="text" @bind="@to" @oninput="OnToInputEvent" style="width: 400px;" />
</p>

<p>
    <h3>Data</h3>
</p>

<p>
    Signature: @signature
</p>

<p>
    Transfer to: @to
</p>

<p>
    Sender: @me
</p>

<p>
    Response: @response
</p>

<button class="btn btn-primary" @onclick="TransferNow">Sign and transfer</button>

@code {
    private string nftData = "";
    private string pk = "a813851a121a15c924f24d4a2a316f6a0635714c05f939c5e760c22b45647d13";
    private string signature = string.Empty;
    private string me = string.Empty;
    private string response = string.Empty;
    private string to = string.Empty;

    private void OnHashInputEvent(ChangeEventArgs args)
    {
        nftData = args.Value.ToString();
    }

    private void OnToInputEvent(ChangeEventArgs args)
    {
        to = args.Value.ToString();
    }

    private async Task TransferNow()
    {
        try
        {
            var signer = new MessageSigner();
            signature = signer.HashAndSign(nftData, pk);

            response = "Transferring...";

            me = signer.HashAndEcRecover(nftData, signature);

            var client = new Omnichain.OmnichainClient(Channel);
            var request = new cila.Omnichain.TransferRequest();
            request.Hash = nftData;
            request.Sender = me;
            request.Signature = signature;
            request.Recipient = to;

            OmnichainResponse omnichainResponse = await client.TransferAsync(request);
            response = omnichainResponse.ToString();
        }
        catch (Exception ex)
        {
            response = ex.Message;
        }
    }
}

